html, body {
    margin: 0;
    padding: 0;
}

.thumbnail {
    display: inline-block;
    height: 100px;
    width: 150px;
    background-size: cover;
    margin: 10px;
    cursor: pointer;
    transition: transform .3s ease-out;
}

.thumbnail:hover {
    transform: scale(1.2)
}
